#empresa{
    height: 100vh;
}

#planos{
    height: 100vh;
}

#contato{
    height: 100vh;
}

#modal{
    position: absolute;
    right: 0;
    top:0;
}

.text-blue{
    color: rgb(29, 10, 136);
}